# Python
__pycache__/
**/__pycache__/
**/__pycache__/**
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
output/
output/*

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/